$navbar__bg--gray: rgba(0, 0, 0, 0.69);
$navbar__font--unfocused: rgba(131, 131, 131, 1);

.navbar__background {
  background-color: $navbar__bg--gray;
}

.link {
  color: $navbar__font--unfocused;

  &.active {
    color: white;
  }
}
